@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/open-sans-semibold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-semibold.woff') format('woff'), /* Modern Browsers */
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
  }


* {
    box-sizing: border-box;
    font-family: "Open Sans", "Roboto";
    font-style: normal;
  }

  html {

    outline: none;
    padding: 0;
    margin: 0;
    background-color: #333333;
  }

  body {
      font-family: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .checkboxes {
      margin: auto;
      height: 309px;
      width: 176px;
      padding-left: 37px;
      padding-top: 13px;
      background-color: white;
      border-radius: 10px;
      color: #333333;
  }

  .checkboxes__h2 {
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    font-weight: 600;
  }

  .checkboxes__item {
    font-family: 'Open Sans';
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }

  .checkboxes__input {
      display: none;
  }

  .checkboxes__input + span {
    position: relative;
    margin-left: 23px;
    cursor: pointer;
    /* width: 15px;
    height: 15px; */
    /* top: 0.5vw; */
  }

  .checkboxes__input + span::before {
      position: absolute;
      content: '';
      left: -23px;
      top: 0px;
      width: 13px;
      height: 13px;
      border: 1px solid #999999;
      border-radius: 3px;

      /* opacity: 0; */
      border-radius: 3px;
  }

  .checkboxes__input:checked + span::before {
      /* opacity: 1; */
      background-image: url('../img/checkbox.svg');
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: 2px 2px;
      border: 1px solid #CCB26E;
  }

  .selection {
      margin: auto;
      margin-top: 100px;
      min-height: 300px;
      /* margin-bottom: 100vw; */
      width: 176px;
  }

  .choices__item--choice:nth-child(1) {
    display: none;
  }

  .choices {
    font-family: 'Open Sans','Roboto';
    /* width: 176px; */
    /* height: 3px; */
    /* border: 1px solid #CCB26E !important; */
    z-index: 100;
  }

  .choices__inner {
    min-height: 30px;
    padding: 6px 7px !important;
    border: none;
    /* width: 176px; */
    background-color: white;
    border-radius: 10px !important;
    color: #333333;
  }

  .is-open .choices__inner {
    padding: 5px 8px 7px 6px !important;
  }

  /* .is-open {
    z-index: 1000;
    border: 1px solid #CCB26E !important;
    border-radius: 11px !important;
  } */

  .is-open .choices__inner {
    z-index: 1000;
    border: 1px solid #CCB26E !important;
    border-radius: 11px !important;
    /* background-color: red; */
  }

.choices__list--dropdown {
  border: 1px solid #CCB26E !important;
  /* position: unset; */
  margin-top: -20px;
}



.choices__list {
  border-radius: 10px;
  /* z-index: -2; */
}

.choices__list--dropdow {
  /* position: absolute; */
  border: 1px solid #CCB26E !important;
}

.choices__list--dropdown .choices__item {
  /* position: relative; */
  padding: 10px;
  /* font-size: 14px; */
}

.choices__list {
  z-index: -1;
  /* width: 176px; */
  /* margin-left: -1px; */
}

.choices__item--choice:nth-child(2) {
  /* display: none; */
  margin-top: 20px;
}

.choices {
  z-index: 1;
}

.choices[data-type*=select-one]:after {
  content: '';
  height: 15px;
  width: 15px;
  background-image: url(../img/select-off.svg);
  background-repeat: no-repeat;
  border-style: none !important;
  /* border-color: rgb(228, 30, 30) transparent transparent; */
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 34%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  content: '';
  height: 15px;
  width: 15px;
  background-image: url(../img/select-on.svg);
  background-repeat: no-repeat;
  border-style: none !important;
  /* border-color: rgb(20, 49, 214) transparent transparent; */
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 46%;
  margin-top: -2.5px;
  pointer-events: none;
}

.is-flipped .choices__item--choice:nth-child(2) {
  /* background: red; */
  margin-top: 0px;
  margin-bottom: 0px;
}

.is-flipped .choices__item--choice:last-child {
  /* background: red; */
  margin-top: 0px;
  margin-bottom: 20px;
}

.is-flipped .choices__list {
  border-radius: 10px;
}

.is-flipped .choices__list--dropdown {
  margin-bottom: -20px;
}

.yandex-map {
  width: 460px;
  height: 460px;
  margin: auto;
}

[class*='ground-pane'] {
  filter: grayscale(1);
}

.scroll {
  padding: 20px 30px 20px 29px;
  background: white;
  max-height: 310px !important;
  max-width: 399px;
  margin: auto;
  margin-top: 100px;
  /* overflow: scroll; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #333333;
}

.simplebar-scrollbar::before {
  background: #CCB26E;
  border-radius: 5px;
  opacity: 1 !important;
  /* background: red; */
}

.validation {
  margin-top: 100px;
}

.validation__container {
  padding: 21px 30px ;
  margin: auto;
  width: 440px;
  min-height: 410px;
  background: rgb(0, 0, 0, 0.4);
  /* opacity: 0.4; */
  border-radius: 10px;
}

.validation__input {
  margin-bottom: 14px;
  padding: 24px 20px;
  display: block;
  width: 380px;
  height: 60px;
  border: 1px solid #FF5C00;
  border-radius: 10px;
  outline: none;
}

.validation__span {

  margin-left: 20px;
  color: #FF5C00;
  font-size: 12px;
}

.validation__button {
  margin-top: 31px;
  margin-left: 7px;
  width: 192px;
  height: 60px;
  background: #FF5C00;
  border-radius: 10px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

.js-validate-error-label {
  margin-left: 20px;
  margin-bottom: 20px;
  /* color: red !important; */
}

.tooltip {

  margin: 100px auto;
  /* margin-top: 100px;
  margin-bottom: 100px; */
  padding: 20px 78px 20px 29px;
  background-color: white;
  height: 160px;
  width: 375px;
  font-size: 14px;
  line-height: 170%;
}

/* .tooltip__text::after {
  content: '';

  width: 16px;
  height: 16px;
  background-image: url('../img/tooltip-off.svg');
} */

.tooltip__svg:hover .tooltip__svg_path {
  fill: #CCB26E;
}

.tooltip__span {
  position: relative;
}


.tooltip__discription {
  width: 163px;
  height: 31px;
  background: #333;
  color: white;
  padding: 7px 15px;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: -39px;
  left: -67px;
  display: none;
}

.tooltip__span:hover .tooltip__discription {
  display: inline;
}

